# Analysis of English Premier League Statistics
## Introduction
I choose an England Premier League home/away games stats from 2006 to 2017. I have choosen this topic, because it is very interesting how English teams could play home and away games. It is hard to play away games, because there are no your fans and you have travelled some road and so on. Football is very interesting game, and each result has consequences on a table and how the game goes in next week. Also, it is very important what is going on inside the team, because it can affect on players' mood, players' efficiency and their readiness for matches. There is the data in two separate tables with the results of the Premier League football matches taken in the period from 2006 to 2018. In both tables ‘teams’ is taken as a primary key so the data from the tables is connected to the ‘teams’. In the first table, which is called results.csv, the first two columns include names of the home teams and away teams, i.e. football teams that played in a certain match. Next two columns present the information about the number of goals scored separately by the home team and the away team. The fifth column is called ‘result’ and includes information about the winner of a certain match - ‘H’ for home team, ‘A’ for away team and ‘D’ for draw. Finally, the last column presents the season, in other words period, in which the match was taken. The second table - stats.cvs, represents data about the results for a certain football team. The first column includes names of each team, and the next three columns represent the data about the number of their wins, losses and total goals scored. The fifth and sixth columns include data with the number of received in total yellow and red cards respectively. The next three columns demonstrate the number of total shots, shots on target and shots that hit bar/post/woodwork. The following six columns represent the total number of goals from headers, goals from penalties, goals from free-kicks, goals from inside and outside the box and goals from counter attacks. Then there is a column that includes the total number of offsides, and the following column represents the number of clean sheets. Finally, the last column demonstrates the data of total goals conceded.
## Data description and objectives

I want to research 5 main questions for me. 
+ Is it harder to play away, or at home? 
+ Where teams most likely to loose their game? 
+ Does their series of wins affect on their upcoming matches? 
+ What is more effective game style? 
+ What is more important, scoring more goals, or missing less?

Official football data organised and formatted in csv files ready for download is quite hard to come by. Stats providers are hesitant to release their data to anyone and everyone, even if it's for academic purposes. That was my exact dilemma which prompted me to scrape and extract it myself. Now that it's at your disposal, have fun with it.
The data was acquired from the Premier League website and is representative of seasons 2006/2007 to 2017/2018. Visit both sets to get a detailed description of what each entails.

## Data manipulation

In [11]:
import numpy as np
import pandas as pd
pd1=pd.read_csv('results.csv')
pd1.notnull() #checking for missing values(all values are true)

      home_team  away_team  home_goals  away_goals  result  season
0          True       True        True        True    True    True
1          True       True        True        True    True    True
2          True       True        True        True    True    True
3          True       True        True        True    True    True
4          True       True        True        True    True    True
...         ...        ...         ...         ...     ...     ...
4555       True       True        True        True    True    True
4556       True       True        True        True    True    True
4557       True       True        True        True    True    True
4558       True       True        True        True    True    True
4559       True       True        True        True    True    True

[4560 rows x 6 columns]

In [12]:
pd2=pd1.rename(columns={'home_team':'HomeTeam'})# changing the name of column
pd2.sort_values(by='away_goals',ascending=False) # sorting by top away goals

,HomeTeam,away_team,home_goals,away_goals,result,season
4173,Hull City,Tottenham Hotspur,1.0,7.0,A,2016-2017
1986,Manchester United,Manchester City,1.0,6.0,A,2011-2012
4169,Leicester City,Tottenham Hotspur,1.0,6.0,A,2016-2017
4225,Watford,Manchester City,0.0,6.0,A,2017-2018
2229,Norwich City,Manchester City,1.0,6.0,A,2011-2012
...,...,...,...,...,...,...
1290,Birmingham City,West Ham United,1.0,0.0,H,2009-2010
1294,Hull City,Blackburn Rovers,0.0,0.0,D,2009-2010
3144,West Ham United,Aston Villa,0.0,0.0,D,2014-2015
3143,Southampton,Leicester City,2.0,0.0,H,2014-2015
2280,Arsenal,Sunderland,0.0,0.0,D,2012-2013

In [9]:
import numpy as np
import pandas as pd
pd30=pd.read_csv('stats.csv')
pd30

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,...,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,...,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,...,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,...,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,...,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [15]:
Coloumn_List = ["team","wins","losses"] 
pd31=pd.read_csv('stats.csv',usecols=Coloumn_List)
pd31.head(5) # top 5 teams with most wins

                team  wins  losses
0  Manchester United  28.0     5.0
1            Chelsea  24.0     3.0
2          Liverpool  20.0    10.0
3            Arsenal  19.0     8.0
4  Tottenham Hotspur  17.0    12.0

In [16]:
pd30.dropna() # deleted rows with null values

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
80,Manchester United,23.0,4.0,78.0,56.0,3.0,618.0,212.0,15.0,18.0,...,1005.0,243.0,26671.0,50.0,2.0,471.0,0.0,45.0,16.0,2010-2011
81,Chelsea,21.0,9.0,69.0,59.0,1.0,745.0,244.0,21.0,12.0,...,995.0,257.0,27426.0,70.0,7.0,573.0,1.0,84.0,22.0,2010-2011
82,Manchester City,21.0,9.0,60.0,71.0,5.0,546.0,177.0,16.0,4.0,...,762.0,222.0,25892.0,51.0,2.0,520.0,1.0,66.0,27.0,2010-2011
83,Arsenal,19.0,8.0,72.0,65.0,6.0,654.0,238.0,23.0,9.0,...,928.0,252.0,28629.0,88.0,4.0,601.0,2.0,56.0,25.0,2010-2011
84,Liverpool,17.0,14.0,59.0,63.0,2.0,582.0,205.0,12.0,8.0,...,824.0,212.0,24941.0,43.0,6.0,493.0,0.0,74.0,26.0,2010-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,...,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,...,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,...,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,...,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,...,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018